/* SASS STUFF & INIT
---------------------------------------*/
	*{box-sizing: border-box;}
	%dibm{display: inline-block;vertical-align: middle;}
	[unresolved] {opacity: 0;}

/* GENERAL
---------------------------------------*/
	.polymer-speedread{border:1px solid #eee;padding:10px;background:#f5f5f5}
	.output{padding: 5px;position: relative;width: 100%;border:1px solid #ddd;height:2em;margin-bottom: 10px;background:#fff}
	.output .word{color: red;position: absolute;top:50%;left:50%;transform:translateX(-50%) translateY(-50%);}
	.output .word span{color:#000;position: absolute;top:0;white-space: nowrap}
	.output   .start{right:100%;}
	.output   .end{left:100%;}
	.controls{text-align: center;}
	.controls input{@extend %dibm;margin:0 15px 0 0;position: relative;display: inline-block}
	// .controls label{@extend %dibm;}
	// .controls input:before{content: '200';display: block;position: absolute;top: 1.5em;left:-10px}
	// .controls input:after{content: '1200';display: block;position: absolute;top: 1.5em;right:-10px}
	.controls button{@extend %dibm;border:none;background: #aaa;color:#fff;font-weight: bold;border-radius:2px;border:1px solid #888;font-size: 0.8em;cursor:pointer}